/* 
    Created on : 5.10.2015, 12:02:36
    Author     : tvaliasek
*/

.eucn_input{
    width: 100%;
    max-width: 800px;
    &.eucn_textarea{
        min-height: 250px;
    }
}

span[data-status="0"]{
    color: red;
}

span[data-status="1"]{
    color: green;
}

