/* 
    Created on : 1.10.2015, 16:27:00
    Author     : tvaliasek
*/


$wrapperBg: #607D8B;
$messageText:   #FFFFFF;
$okBtnText: #FFFFFF;
$okBtnBg:   #FFC107;
$googleLink: #FFF0C5;

$easeIn: 150ms ease-in 0s;
$easeOut: 150ms ease-out 0s;